@import "../../variables.scss";

.taskList {
  border-radius: 12px;
  overflow: hidden;
  margin-top: -26px;
  margin-bottom: 12px;
  @include md-and-up {
    margin-top: -50px;
  }

  &__settingsRow {
    button,
    span {
      font-size: 14px;
      font-family: inherit;
    }

    @include md-and-up {
      button,
      span {
        font-size: 14px;
      }
    }

    &__outlineFilter {
      .filterRow {
        border-radius: 12px;
        font-size: 16px;
        justify-content: center;
        box-shadow: 2px 2px 6px rgba($black, 0.05);
      }
      @include md-and-up {
        display: none;
      }
    }

    &__inlineFilter {
      display: none;

      @include md-and-up {
        display: flex;
        .filterRow {
          width: 170px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.filterRow {
  &__wrapper {
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    text-transform: capitalize;
    color: $theme-light-gray-4;
    font-size: 16px !important;
    font-weight: 500;

    &__active {
      color: $primary-blue !important;
    }
  }
}

.lightTheme {
  .taskList {
    background: $theme-light-card-bg;
    box-shadow: 4px 4px 12px rgba($black, 0.15);
  }

  .taskList__settingsRow {
    @include item-styles("light");
    button,
    span {
      color: $theme-light-text-light;
    }

    button {
      @include theme-light-button-hover-styles;
    }

    &__outlineFilter {
      .filterRow {
        @include item-styles("light");
        justify-content: center;
      }
    }
  }
}

.darkTheme {
  .taskList {
    background: $theme-dark-card-bg;
  }

  .taskList__settingsRow {
    @include item-styles("dark");

    button,
    span {
      color: $theme-dark-text-light;
    }

    button {
      @include theme-dark-button-hover-styles;
    }
  }
  .taskList__settingsRow__outlineFilter {
    .filterRow {
      @include item-styles("dark");
      justify-content: center;
    }
  }
}
