@import "../../variables.scss";

.itemRow {
  &__light {
    @include item-styles("light");
    color: $theme-light-text-dark;
    border-bottom: 1px solid $theme-light-text-light;
    .cross {
      color: $theme-light-text-light;
    }
  }

  &__dark {
    @include item-styles("dark");
    color: $theme-dark-text-dark;
    .cross {
      color: $theme-dark-text-light;
    }
    border-bottom: 1px solid $theme-dark-text-light;
  }

  font-size: 14px;
  cursor: pointer;

  span {
    margin: 0 10px;
    flex: 1;
    text-align: left;

    &.cross {
      text-decoration: line-through;
    }
  }

  &__deleteButton {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
  }

  &:hover > .itemRow__deleteButton {
    opacity: 1;
    visibility: visible;
  }

  @include md-and-up {
    font-size: 18px;
  }
}
