* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}
