// ### Primary

// - Bright Blue: hsl(220, 98%, 61%)
// - Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

$primary-blue: hsl(220, 98%, 61%);
$checkbox-bg: linear-gradient(135deg, #47daff, #e9bdff);

$white: #fff;
$black: #000;

// ### Light Theme

$theme-light-gray-1: hsl(0, 0%, 98%);
$theme-light-gray-2: hsl(236, 33%, 92%);
$theme-light-gray-3: hsl(233, 11%, 84%);
$theme-light-gray-4: hsl(236, 9%, 61%);
$theme-light-gray-5: hsl(235, 19%, 35%);

$theme-light-card-bg: $white;
$theme-light-text-dark: $theme-light-gray-5;
$theme-light-text-light: $theme-light-gray-3;

// ### Dark Theme

$theme-dark-gray-1: hsl(234, 39%, 85%);
$theme-dark-gray-2: hsl(236, 33%, 92%);
$theme-dark-gray-3: hsl(234, 11%, 52%);
$theme-dark-gray-4: hsl(233, 14%, 35%);
$theme-dark-gray-5: hsl(235, 24%, 19%);
$theme-dark-gray-6: hsl(235, 21%, 11%);
$theme-dark-gray-7: hsl(237, 14%, 26%);

$theme-dark-card-bg: $theme-dark-gray-5;
$theme-dark-text-dark: $theme-dark-gray-2;
$theme-dark-text-light: $theme-dark-gray-4;

// Mixins
@mixin md-and-up {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin item-styles($theme) {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @if $theme == "light" {
    background: $theme-light-card-bg;
  } @else {
    background: $theme-dark-card-bg;
  }
}

@mixin theme-light-button-hover-styles {
  &:hover {
    color: $theme-light-text-dark;
  }
}

@mixin theme-dark-button-hover-styles {
  &:hover {
    color: $theme-dark-gray-2;
  }
}
