// ### Primary

// - Bright Blue: hsl(220, 98%, 61%)
// - Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

$primary-blue: hsl(220, 98%, 61%);
$checkbox-bg: linear-gradient(135deg, #47daff, #e9bdff);

$white: #fff;
$black: #000;

// ### Light Theme

$theme-light-gray-1: hsl(0, 0%, 98%);
$theme-light-gray-2: hsl(236, 33%, 92%);
$theme-light-gray-3: hsl(233, 11%, 84%);
$theme-light-gray-4: hsl(236, 9%, 61%);
$theme-light-gray-5: hsl(235, 19%, 35%);

// ### Dark Theme
// - Very Dark Blue: hsl(235, 21%, 11%)
// - Very Dark Desaturated Blue: hsl(235, 24%, 19%)
// - Light Grayish Blue: hsl(234, 39%, 85%)
// - Light Grayish Blue (hover): hsl(236, 33%, 92%)
// - Dark Grayish Blue: hsl(234, 11%, 52%)
// - Very Dark Grayish Blue: hsl(233, 14%, 35%)
// - Very Dark Grayish Blue: hsl(237, 14%, 26%)

// Mixins
@mixin md-and-up {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin item-styles {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
}

@mixin theme-light-button-hover-styles {
  &:hover {
    color: $theme-light-gray-5;
  }
}
